<!DOCTYPE html>
<html>
<head>
	<title>Mon idee de musee</title>
</head>
<body>
	<h1>Réalisation d´un musée sonore de techno house interactif entre le son, l´image et le spéctateur</h1>
	
	<p>Back-end: Les morceaux, triés par leur titre (ou battements par minutes ou par leur dates de creation ou par leur frequence moyenne (du plus aigu au plus grave)) et possederont une fiche descriptive: Auteur / Titre / durée / date de création / pochette</p>
	<p>Front-end: Creations visuelles selon la fréquence du son (changement de couleurs/apparition de formes)</p>

	<br>

	<p>rails g scaffold Song title:string author:string duration:float </p>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<p>cf label francais pour les sons</p>

</body>
</html>

